.contact {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: none;
}

.kontaknya {
    height: auto;
    width: 600px ;
    font-family: 'Poppins', sans-serif;
    margin: 100px;
}

.canvanya {
    width: 300px;
    height: auto;
    background-color: #f4e6d4;
    align-items: center;
    justify-content: center;
    margin: none;
    padding: 100px;

}

.f {
    display: flex;
}

input {
    height: 40px;
    width: 600px;
    font-size: larger;
    background-color: rgb(230, 226, 226);
    border: none;
}
#sendiri {
    font-size: 30px;
    background-color: #6d3b47;
    border: none;
    padding: 15px;
    font-size: larger;
    color: white;
    cursor: pointer;
 align-items: center;
    
    top: 100%;
    left: 45%;
}
label{
    font-size: larger;
}
#sendiri:hover {
    background-color: #cc6e84;}